html,
body {
	height: max-content;
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background: linear-gradient(#3AAFA9, #2B7A78, #17252A);
}

h1 {
	border: 2px solid #3AAFA9;
	padding: 5px;
	background-color: #2B7A78;
	font-size: 16px;
	font-weight: bold;
}

h2 {
	border: 2px solid #3AAFA9;
	padding: 5px;
	font-size: 20px;
}

h3 {
	border: 2px solid #3AAFA9;
	font-weight: normal;
	padding: 10px;
	font-size: 18px;
}

.p {
	font-size: 16px;
	color: #1d2129;
}

.outer-border {
	border: 2px solid #DEF2F1;
	height: max-content;
	min-width: 90%;
	padding: 10px;
	margin: 10px;
}

.mid-border {
	border: 6px solid #DEF2F1;
	min-height: 100vh;
	min-width: 96%;
	padding: 6px;
	margin: auto;
}

.inner-border {
	position: relative;
	border: 2px solid #DEF2F1;
	min-height: 100%;
	padding: 10px;
	margin: auto;
	margin-bottom: 100px;
}

.logo {
	text-align: center;
	margin: 10px;
}

.logo img {
	width: 70px;
	height: 70px;
}


.search-bar {
	top: 20px;
	right: 90px;
	position: absolute;
	transform: translate(10%, 20%);
	background: #2f3640;
	border-radius: 40px;
	height: 30px;
	padding: 7px;
}

.search-bar-btn {
	border: none;
	background: #DEF2F1;
	border-radius: 50%;
	float: right;
	display: flex;
	width: 30px;
	height: 30px;
	justify-content: center;
	align-items: center;
	outline: none;
	transition: 0.6s;
	font-weight: bold;
	color: #FFFFFF;
}

.search-bar-txt {
	background: none;
	border: none;
	outline: none;
	padding: 0px;
	font-size: 16px;
	transition: 0.6s;
	color: rgb(20, 167, 220);
	font-weight: bold;
	line-height: 30px;
	width: 0px;
}

.search-bar:hover .search-bar-txt {
	width: 240px;
	padding: 0 6px;
}

.search-bar:hover .search-bar-btn {
	background: rgb(20, 167, 220);
	color: #FFFFFF;
	box-shadow: 0px 5px 20px 0px rgb(20, 167, 220);
}


.add-btn {
	position: absolute;
	top: 20px;
	left: 10px;
	margin: 10px 10px;
	width: 100px;
	height: 50px;
	background-color: #DEF2F1;
	cursor: pointer;
	border-radius: 20px;
	font-weight: bold;
	font-size: 15px;
	transition: all 0.2s ease-in-out;
}


.home-btn {
	position: absolute;
	top: 20px;
	left: 130px;
	margin: 10px 10px;
	width: 100px;
	height: 50px;
	background-color: #DEF2F1;
	cursor: pointer;
	border-radius: 20px;
	font-weight: bold;
	font-size: 15px;
	transition: all 0.2s ease-in-out;
}

.signout-btn {
	position: absolute;
	top: 20px;
	left: 250px;
	margin: 10px 10px;
	width: 100px;
	height: 50px;
	background-color: #DEF2F1;
	cursor: pointer;
	border-radius: 20px;
	font-weight: bold;
	font-size: 15px;
	transition: all 0.2s ease-in-out;
}


.add-btn:hover,
.home-btn:hover,
.signout-btn:hover {
	background-color: #3AAFA9;
	box-shadow: 3px 3px 15px 0px rgba(82, 82, 82, 0.85);
}



.corners {
	background: #978b8b;
	height: max-content;
	margin: 50px auto;
	width: 700px;
	position: relative;
	min-height: 100vh;
	box-shadow: 0 1px 7px hsla(0, 0%, 0%, 0.2);
	background-attachment: fixed;
	background-blend-mode: multiply;
}

.corners:after,
.corners:before {
	background: #3AAFA9;
	content: '';
	height: 50px;
	position: absolute;
	top: -25px;
	width: 100px;
	box-shadow: 0 5px 10px -7px hsla(0, 0%, 0%, 0.5);
}

.corners:after {
	left: -50px;
	transform: rotate(-45deg);
}

.corners:before {
	right: -50px;
	transform: rotate(45deg);
}



.feed {
	margin: auto auto;
	width: 600px;
	padding: 10px 0;
}

.file-container {
	height: max-content;
	background: #978b8b;
	padding: 10px;
}

.files {
	text-align: center;
	background-color: #9dcaca;
	font-weight: bold;
	font-size: 20px;
}