<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=devicewidth, initial-scale=1.0" />
        <title>Main Page</title>
        <link rel="stylesheet" href="/static/UserMainPage.css">
    </head>

    <body>
        <div class="outer-border">
            <div class="mid-border">
                <div class="inner-border">

                    <div class="logo"><img src="/static/logo.png" /></div>
                    <div class="search-bar">
                        <form method="POST" action="/search">
                            <input class="search-bar-txt" type="text" placeholder="Search..." name="searched">
                            <button class="search-bar-btn" type="submit"><svg xmlns="http://www.w3.org/2000/svg"
                                    width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                    class="feather feather-search">
                                    <circle cx="11" cy="11" r="8"></circle>
                                    <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                                </svg></button>
                        </form>
                    </div>

                    <a href="/UserMainPage"><button class="home-btn" type="button">Home</button></a>
                    <a href="/"><button class="signout-btn" type="button">Sign Out</button></a>
                    <div class="corners">
                        <div class="feed">
                            {% for file in Files %}
                            <div class="file-container">
                                <article class="files">
                                    <h1> {{ file[1] }}</h1>

                                    <!-- Button to download -->
                                    <a href="{{ url_for('downloadfile', file_id=file[0]) }}"><button
                                            class="download-btn" type="button">Download</button></a>
                              
                            </div>
                            </article>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
    </body>

</html>